.wrapper {
  font-size: 14px;
  border: 1px solid gray;
  overflow: auto;
  padding: 0.5em;
}

.lineNo {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.lineContent {
  display: table-cell;
}
