.heading {
  margin: 0.75em 0;
  font-weight: 700;
}

.heading a:hover {
  opacity: 0.75;
}

.wrapper {
  pointer-events: auto;
}

.hashtag {
  padding-left: 2px;
  color: #3182ce;
  font-weight: 500;
  outline: none;
  opacity: 0;
}
